/* styles.css */

/* Reseta alguns estilos padrões */
body, h2, button {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease;


}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto !important;
    background-color: #8C52FF;
    color: #6243E9;
}

h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

#button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 colunas de largura igual */
    gap: 2px;
    justify-items: center;
    margin-bottom: 50px;

}

button {
    padding: 15px;
    margin: 10px;
    border: none;
    background-color: #6243E9;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 200px;
    width: 200px;
}

button:hover {
    background-color: #0056b3;
}

img {
    max-width: 100px;
    margin: 20px;
    border-radius: 50px;
}

@media (max-width: 600px) {
    body {
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }

    img {
        max-width: 80px;
    }
}

.usuariosDiv {
    width: 70%;
    height: auto;
}