body {
    background-color: rgb(226, 226, 226);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: var(--dark-purple);
    color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6em;
    z-index: 1000;
    justify-content: space-between;
}

.open-drawer-btn {
    margin-left: 15px;
    font-size: 40px;
    cursor: pointer;
    background-color: transparent;
    color: white;
}

.drawer {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--dark-purple);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 999;
    flex-direction: column;
    align-items: center;
}

.drawer-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drawer-btn {
    width: 90%;
    padding: 10px 10px;
    margin: 10px 0;
    background-color: var(--purple);
    color: var(--white);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.drawer-btn:hover {
    background-color: #6243E9;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    padding: 20px;
    width: 100%;
    max-width: 800px;
}

.user-container {
    background-color: #6243E9;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usuariosDiv {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

.user-box {
    background-color: white;
    color: #6243E9;
    border: 2px solid #6243E9;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-box:hover {
    background-color: #f0f0f0;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.register-button {
    padding: 12px;
    margin: 15px 15px 5px 15px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #6243E9;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 200px;
    width: 200px;
}

.register-button:hover {
    background-color: #0056b3;
}

.clock {
    font-size: 20px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 20px;
}

@media (max-width: 600px) {
    body {
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }

    .user-box {
        padding: 10px;
        font-size: 14px;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }

    img {
        max-width: 80px;
    }
}