/* Estilo geral do corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #333333;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    text-align: center;
}

/* Estilo para inputs de checkbox e seus labels */
input[type="checkbox"] {
    margin: 15px 10px 15px 0;
    cursor: pointer;
}

label {
    font-size: 16px;
    color: #ffffff;
    margin-right: 20px;
}

/* Estilo para botões */
button {
    background-color: #D9D9D9;
    color: white;
    padding: 5px 10px;
    margin: 15px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background-color: #00ffb3;
}

/* Estilo para parágrafos */
p {
    font-size: 18px;
    margin: 20px 0 10px;
    color: #ffffff;
}

/* Estilo para tabelas */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    border-color: black !important;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-color: black;
}

th {
    background-color: #D9D9D9;
    color: white;
}

tr:hover {
    background-color: #1d56f43d;
}

.div-voltar {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
}

.voltar {
    margin: 1%;
}

.iconsDireita {
    display: flex;
    flex-direction: row;
    width: 6%;
    height: 10%;
    justify-content: space-between;
}

.icon2 {
    size: 40px;
}

.icon3 {
    height: 30px;
    width: auto;
}


/* Responsividade */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    table {
        font-size: 14px;
    }

    button {
        width: 100%;
        padding: 10px 0;
    }
}