body{
    margin: 0;
    padding: 0;
    background-color: rgb(207, 206, 206);
    display: flex;
    flex-direction: column;

}
h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}
input{
    border: none;
    padding: 5px;
    border-radius: 5px;
}
button{
    border: none;
    border-radius: 5px;
    padding: 3px;
    margin-left: 5px;
    margin-top: 5px;
    background-color: rgb(14, 255, 163);
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
.buttonDiv{
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100px;
}
div{  
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* 3 colunas de largura igual */
    gap: 2px;
    justify-items: center;
    width: auto;
    height: 170px;
    max-width: 270px;
    max-height: 150px;

}
.divUm{

    display: flex;
    align-items: center;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.divDois{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-evenly;
}

text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


footer{
    background-color: #7242d2;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    padding: 10px;
    box-sizing: border-box;
}

.efeito {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #34f59b;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease; 
}

.efeito:hover {
    transform: scale(1.2);
}