body{
    padding: 0;
    margin: 0;
    height: 100dvh;
    background-color: #8C52FF;
    display: flex;
    justify-content: center;
}
.divConteiner{
    display: flex;
    justify-content: space-between
    
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-top: 50px;
}
.texto{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-style: oblique;
    
}
.divStyle{
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1); /* sombra leve */
    padding: 100px;
    background-color: #834cef;
    justify-content: center;
    align-items: center;
}
.button{
    background-color: #834cef;
    padding: 10px 40px 10px 40px;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    
}

.efeito {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #7242d2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease; 
}

.efeito:hover {
    transform: scale(1.2);
}